django==1.7
PyYAML==3.11
click==4.0
django-admin-bootstrapped==2.3.3
django-cors-headers==1.0.0
elasticsearch==1.4.0
geoip2==2.1.0
gnureadline==6.3.3
ipaddr==2.1.11
ipython==3.1.0
matplotlib==1.4.3
maxminddb==1.2.0
mock==1.0.1
numpy==1.9.1
psycopg2==2.6
pyplot==0.0.11
ua-parser==0.3.6
urllib3==1.10.2
user-agents==0.3.2
wget==2.2
