django==1.7.1
django-admin-bootstrapped==2.3.3
django-cors-headers==1.0.0
geoip2==2.1.0
ipaddr==2.1.11
ipython==7.16.3
maxminddb==1.2.0
mod-wsgi==4.6.4
newrelic<=2.50.0.39
numpy==1.9.1
six==1.10.0
psycopg2<=2.5.1
ua-parser==0.3.6
urllib3==1.23
user-agents==0.3.2
wget==2.2
