<!DOCTYPE HTML>
<html>
<head>
    <title>Page performance</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/app/css/monitor.css">
</head>
<body>

<script>
    (function (d, s) {
        var js = d.createElement(s),
                sc = d.getElementsByTagName(s)[0];

        js.src = "http://simon.lacnic.net/static/app/js/monitor.js";
        js.type = "text/javascript";
        sc.parentNode.insertBefore(js, sc);

        var posted = false; // Trigger only once.
        js.onload = js.onreadystatechange = function () {

            if (posted) {
                return;
            }

            if (Math.random() > 1.0) {
                return;
            }

            BOOMR.init({
                BW: {
                    base_url: '/static/app/images/',
                    cookie: 'BW'
                },
                RT: {
                    cookie: 'RT'
                }
            });

            posted = true;
        };

    }(document, "script"));
</script>

<img src="/static/app/images/splash.png">
<br>
<br>
<br>
<br>
<br>
<a href="/monitor/admin" target="_blank">(Just take me to the admin site)</a>

</body>
</html>